name: Publish Nostr App Event

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Install nak
        run: |
          NAK_URL=$(curl -sL https://api.github.com/repos/fiatjaf/nak/releases/latest | jq -r '.assets[] | select(.name | endswith("linux-amd64")) | .browser_download_url')
          curl -sL "$NAK_URL" -o nak
          chmod +x nak
          sudo mv nak /usr/local/bin/

      - name: Broadcast NIP-89 Event
        env:
          NAK_SEC: ${{ secrets.NOSTR_SEC }}
        run: |
          CREATED_AT=$(date +%s)
          echo "{
            \"kind\": 31990,
            \"content\": \"{\\\"name\\\":\\\"Nostr Relay Center\\\",\\\"about\\\":\\\"Dashboard to manage and analyze Nostr relays.\\\",\\\"picture\\\":\\\"https://k4lb.github.io/Nostr-Relay-Center/public/icon.svg\\\",\\\"website\\\":\\\"https://k4lb.github.io/Nostr-Relay-Center/\\\"}\",
            \"tags\": [
              [\"d\", \"nostr-relay-center\"],
              [\"k\", \"31990\"]
            ],
            \"created_at\": $CREATED_AT
          }" | nak event wss://relay.damus.io wss://nos.lol wss://purplepag.es
